{%extends 'layout.html'%}

{% block content %}

{{block.super}}

<div class="container">

        <!-- Looping through image   -->
        <div class="container-fluid">
          
            <div class="grid">
              <div class="grid-sizer"></div>
              {% for image_item in images %}
                <div class="grid-item">
                    
                  <img class="pl-2 pb-1" src="{{image_item.image_file.url}}" height="500px" width="100%" data-toggle="modal" data-target="#img{{image_item.id}}"/>
                </div><br />
              {% endfor %}
            </div>
          
          </div>